@{
  Layout = "_Layout";
}

@using SweetAndTreat.Models
@model IEnumerable<SweetAndTreat.Models.Treat>

<h3>All treats: </h3>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId})</li>
    }
  </ul>
}
else
{
  <h4>No treats have been added yet!</h4>
}

<p>@Html.ActionLink("Add new treat", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Register", "Register", "Account")</p>

