@{
  Layout = "_Layout";
}

<h2> Treats And Sweets - make your match! </h2>

<button class="btn btn-dark">@Html.ActionLink("See all flavors", "Index", "Flavors")</button>
<button class="btn btn-dark">@Html.ActionLink("See all treats", "Index", "Treats")</button>

